src/main/app/error-handling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="${http.host}" port="${http.port}" doc:name="HTTP Listener Configuration"/>
    <flow name="error-handlingFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/handleexception" doc:name="HTTP"/>
        <set-variable variableName="page" value="#[message.inboundProperties.'http.query.params'.page]" doc:name="Variable"/>
        <set-payload value="{
&quot;page&quot; : #[flowVars.page]
}" doc:name="Set Payload"/>
    </flow>
</mule>
